PORT=5001
MONGO_URI=mongodb://<username>:<password>@<cluster-hosts>/?ssl=true&replicaSet=<replicaSet>&authSource=admin&appName=<appName>
STEAM_API_KEY=your_stream_api_key
STEAM_API_SECRET=your_stream_api_secret
JWT_SECRET_KEY=your_jwt_secret
NODE_ENV=development
